* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #d4d1ad;
}

.navbar {
    background: #2f4a1f;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
}

.navbar nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-size: 16px;
    font-family: "Magra";
}

.navbar .logo img {
    width: 200px;   
    height: auto;  
}

.hero {
    height: 700px;
    background: url(image/Rectangle\ 1.png) center/cover no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px;
}

.hero-text h1 {
    font-size: 60px;
    color: #f2e23a;
    
    line-height: 1.1;
    text-shadow: 1px 1px 3px black;
    font-family: "italiana";
}

.form-box {
    background: rgba(255, 255, 255, 0.2);
    padding: 25px;
    width: 260px;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    color: white;
}


.form-box h3 {
    text-align: center;
    margin-bottom: 10px;
    font-family: "Magra";
    color: #325118;
}

.form-box input {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    border: none;
    border-radius: 5px;
}

.form-box button {
    width: 100%;
    padding: 10px;
    background: #3f6d2a;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    
}

.form-box button:hover{
    background: #022b13;
}

.cards-section {
    background: #d4d1ad;
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 25px;
    
}
.card:hover{
      transform: scale(1.05);
}

.card {
    width: 300px;
    position: relative;
    
}

.card img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 3px;
}

.card-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #f0e568;
    text-shadow: 1px 1px 2px black;
    font-family: italiana;
}

.card-info span {
    font-size: 14px;
}

.card-info h2 {
    font-size: 26px;
}

.card-info p {
    font-size: 14px;
}

.sobre {
    background: #2f4c2c;
    padding: 40px 20px;
    border-radius: 40px 40px 0 0;
    font-family: "Magra";
}

.sobre h2 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-family: "Major Mono Display";
}

.sobre-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    color: white;
}

.planos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 100px;
    width: 300px;

}

.plano {
    background: #3a5f34;
    padding: 18px;
    border-radius: 10px;
    text-align: center;
}

.plano span {
    font-size: 14px;
    opacity: 0.8;
    font-family: italiana; 
    display: flex;
    justify-content: center;
}



.conteudo-sobre {
    display: flex;
    gap: 30px;
    max-width: 700px;
    font-family: "Magra";
}

.sobre-card {
    background: #d9d1b7;
    padding: 10px;
    border-radius: 10px;
    width: 340;
    height: 390;
    text-align: center;
    color: #333;
    width: 100%;
}

.sobre-card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 8px;
   
}

.sobre-card button {
    margin-top: 10px;
    padding: 10px;
    background: #3a5f34;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.sobre-card button:hover{
    background: #042914;
}

.texto-sobre h3 {
    margin-bottom: 10px;
    width: 100%;
}


.mapa-section {
    padding: 30px;
    text-align: center;
    background-color: #d9d1b7;
}

.mapa {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
}

.legenda {
    margin-top: 10px;
    font-size: 14px;
    font-family: "Magra";
    font-size: 16px;
}

footer {
    background: #2f4c2c;
    color: white;
    display: flex;
    padding: 20px;
    font-family: "Magra";
    gap: 200px;
    justify-content: center;
}